.change-password-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.change-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #333;
}

.change-password-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 360px;
}

.cp-switch {
  margin: 20px 0 10px;
  text-align: center;
  display: flex;
  font-size: 15px;
}