.btn {
  /* margin-top: 15px; */
  padding: 12px 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--shadow-medium);
  gap: 8px;
  border: 2px solid transparent;
}

.btn.full-width {
  width: 100%;
}

.btn.auto-width {
  width: auto;
}

.btn.small {
  height: 32px;
  padding: 8px 16px;
  font-size: 12px;
}

.btn.medium {
  padding: 10px 20px;
  font-size: 14px;
}

.btn.large {
  padding: 16px 40px;
  font-size: 16px;
}

.primary {
  color: #fff;
  border: none;
  background: var(--gradient-primary-90);
}

.secondary {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: #fff;
}

.btn:hover {
  opacity: 0.9;
  box-shadow: var(--shadow-primary);
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.spinner {
  width: 18px;
  height: 18px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-right: 8px;
}

.btn-icon {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.btn-text {
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}