.forgot-password-page {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.fp-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.fp-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fp-switch {
    display: flex;
    margin: 30px 0;
    font-size: 14px;
    color: #555;
}