.not-found-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.not-found-page .not-found-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found-form img {
    width: auto;
}

.not-found-form .form-link{
    margin: 18px 0 20px 0;
}

#pageNotFoundImg {
    border-radius: 0px !important;
}